<!-- 
Content: Top level startup file for HERO EX1 rover. 
Created by: David Rodriguez (davidrm@dc.tohoku.ac.jp)
Last update: Nov. 26, 2019
Updated by: David Rodriguez (davidrm@dc.tohoku.ac.jp)
Notes:

--> 

<launch>

	<!--#### top-level arguments ####-->
	<arg name="telemetry" default="0"/>

	<!--#### include config files ####-->
	<!--Rover configuration file -->
	<include file = "$(find teleop)/config/motion_control.xml"/>
	<!--Joystick configuration file -->
	<include file = "$(find teleop)/config/btn_axs_map.xml"/>
	<!--Commands configuration file -->
	<rosparam command="load" file="$(find teleop)/config/cmd_map.yaml" />
	<!--Communication configuration file -->
	<include file="$(find ex1_serial)/config/internal_comms.xml"/>

	<!--#### include launch files ####-->
	<include file="$(find teleop)/launch/teleop.launch"/>
	<include file="$(find ex1_serial)/launch/ex1_serial.launch"/>
	
	<group if="$(arg telemetry)">
		<include file="$(find ex1_serial)/launch/telemetry.launch"/>
	</group>
	<!--<include file="$(find rt_usb_9axisimu_driver)/launch/rt_usb_9axisimu_driver.launch"/>-->
	
</launch>
